name: Release Sanitarr

on:
  push:
    branches: [master]
    tags: [v*]

permissions:
  contents: write
  packages: write

jobs:
  publish:
    name: Build and publish image
    runs-on: ubuntu-latest
    outputs:
      docker_tags: ${{ steps.meta.outputs.tags }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Variables
        id: vars
        run: echo "short_sha=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Image metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}
          flavor: latest=false
          tags: |
            event=tag,type=semver,pattern={{version}}
            type=raw,value=latest,enable={{is_default_branch}}
            event=branch,type=ref,enable={{is_not_default_branch}}
            event=branch,type=raw,value=${{ steps.vars.outputs.short_sha }}

      - name: Log in to ghcr
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
  release:
    name: Github release
    needs: publish
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Validate version
        run: |
          CARGO_VERSION=$(awk -F' = ' '/^version =/ {print $2}' Cargo.toml | tr -d '"')
          if [ "$GITHUB_REF_NAME" != "v$CARGO_VERSION" ]; then
            echo "Tag version ($GITHUB_REF_NAME) does not match Cargo.toml version ($CARGO_VERSION)"
            exit 1
          fi

      - name: Create GitHub release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          draft: true
          body: |
            ## Docker images
            ${{ needs.publish.outputs.docker_tags }}
