name: Rust

on:
  push:
    branches: ["master"]
    paths: &source-changes
      - src/**
      - Cargo.toml
      - Cargo.lock
      - .github/workflows/rust.yml
  pull_request:
    branches: ["master"]
    paths: *source-changes

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose
      - name: Clippy
        run: cargo clippy --all --all-targets --all-features -- -Dwarnings -Adeprecated
